modules = ["bun-1.1", "nodejs-16", "web"]
run = ["bun start"]

[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["lsof"]

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
